<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{% block title %}Anodos{% endblock %}</title>

  <link rel="stylesheet" href="/static/semantic/semantic.min.css" />

  <style type="text/css">
  {% include "anodos/css/main.css" %}
  </style>

</head>

<body>

<header>
  <div class="ui main container">
    <h1 class="ui header"><a href="/">Anodos</a></h1>
    <p>Поиск ИТ-оборудования по складам дистрибьюторов.</p>
  </div>

  <div class="ui borderless pointing main menu">
    <div class="ui container">
      <div href="#" class="header item"><a href="/">Anodos</a></div>
      <a href="/blog/" class="item">Блог</a>
      <a href="/solutions/" class="item">Решения</a>
      <a href="/catalog/" class="item">Товары и услуги</a>

      <div class="right menu">

        {% if perms.catalog.change_article %}
        <div class="ui right floated dropdown item" tabindex="0">
          Управление
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            {% block managemet-menu %}{% endblock %}
            <div class="header">Настройки каталога</div>
              <a class="item" href="/catalog/manage/updaters/">Загрузчики и поставщики</a>
              <a class="item" href="/catalog/manage/vendors/">Производители</a>
              <a class="item" href="/catalog/manage/categories/">Категории и товары</a>
              <a class="item" href="/catalog/manage/pricetypes/">Цены</a>
            <div class="header">Управление статьями</div>
              <a class="item" href="/articles/">Документы и статьи</a>
              <a class="item" href="/categories/">Категории</a>
              <a class="item" href="/doc-types/">Типы документов</a>
              <a class="item" href="/languages/">Языки</a>
              <a class="item" href="/logs/">Логи</a>
          </div>

        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="#" class="item" data-do="open-profile"><i class="far fa-user"></i>&nbsp;{{ user.first_name }} {{ user.last_name }}</a>
        {% else %}
        <a href="#" class="item" data-do="open-login"><i class="far fa-sign-in"></i>&nbsp;авторизоваться</a>
        <a href="#" class="item" data-do="open-register">&nbsp;зарегистрироваться</a>
        {% endif %}

        <div class="item">
          <div class="ui icon input">
            <input id="top-search-input" type="text" placeholder="Найти...">
            <i class="search link icon"></i>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>

<main>
  <div class="ui container">
    {% block content %}<div class="row">&nbsp;</div>{% endblock %}
  </div>
</main>

<footer>
  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal small divided link list">
        <a class="item" href="mailto:root@anodos.ru">&copy; Андрей Безпалов</a>
        <a class="item" href="#">Контактные данные</a>
        <a class="item" href="#">Условия и положения</a>
        <a class="item" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>

<script src="/static/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/semantic/semantic.min.js"></script>
<script defer src="/static/fontawesome/packs/regular.min.js"></script>
<script defer src="/static/fontawesome/packs/brands.min.js"></script>
<script defer src="/static/fontawesome/fontawesome.min.js"></script>
<script>
{% block js-content %}
{% include "catalog/js/search-on-stocks.js" %}
{% endblock %}
</script>
<script>
{% include "anodos/js/main.js" %}
</script>

</body>

</html>
