{% if user.is_authenticated %}

<!-- Просмотр и редактирование своего профиля -->
<div id="modal-profile" class="ui modal">
  <i class="close icon"></i>

  <div id="modal-profile-header" class="header">Профиль пользователя</div>

  <div class="content">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="view">Просмотр</a>
      <a class="item" data-tab="edit">Редактирование</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="view">
      <div class="ui grid">
        <div class="four wide column">
          <img src="" id="view-profile-img" class="circular image">
        </div>
        <div class="twelve wide column">
          <p>Name</p>
          <p>Description?</p>
        </div>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="edit">
      TODO<!-- TODO Edit profile -->
    </div>
  </div>
  <div class="actions">
    <div data-do="edit-product-save" class="ui positive button">
      <i class="icon far fa-save"></i>Сохранить
    </div>
    <div data-do="apply-logout" class="ui red deny button">
      <i class="icon far fa-sign-out"></i>Выйти
    </div>
    <div class="ui black deny button">
      <i class="icon far fa-ban"></i>Отмена
    </div>
  </div>
</div>

<!-- Регистрации -->
<div id="modal-register" class="ui modal">
  <i class="close icon"></i>

  <div id="modal-login-header" class="header">Регистрация</div>

  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Имя</label>
        <input id="register-firstname" type="text" placeholder="First Name" />
      </div>
      <div class="field">
        <label>Фамилия</label>
        <input id="register-lastname" type="text" placeholder="Last Name" />
      </div>
      <div class="field">
        <label>Имя пользователя</label>
        <input id="register-username" type="text" name="username" placeholder="firstname.lastname" />
      </div>
      <div class="field">
        <label>Электронная почта</label>
        <input id="register-email" type="email" placeholder="your@email.ru" />
      </div>
      <div class="field">
        <label>Пароль</label>
        <input id="register-password1" type="password" name="password" placeholder = "Password" />
      </div>
      <div class="field">
        <label>Повторите пароль</label>
        <input id="register-password2" type="password" placeholder="Password">
      </div>
      <div id="modal-register-alert"></div>
    </form>
  </div>
  <div class="actions">
    <div data-do="register-apply" class="ui positive button">
      <i class="icon far fa-sign-in"></i>Зарегистрироваться и войти
    </div>
    <div class="ui black deny button">
      <i class="icon far fa-ban"></i>Отмена
    </div>
  </div>
</div>

{% else %}
<!-- Авторизация -->
<div id="modal-login" class="ui modal">
  <i class="close icon"></i>

  <div id="modal-login-header" class="header">Авторизация</div>

  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Имя пользователя</label>
        <input id="login-username" name="username" type="text" placeholder="login" />
      </div>
      <div class="field">
        <label>Пароль</label>
        <input id="login-password" name="password" type="password" placeholder="password" />
      </div>
      <div class="ui message">
        <div class="header">Также можно:</div>
        <ul class="list">
          <li><a href="#" data-do="open-password-recovery">Восстановить пароль</a></li>
          <li><a href="#" data-do="open-register">Зарегистрироваться</a></li>
        </ul>
      </div>
    </form>
  </div>
  <div id="modal-login-alert"></div>
  <div class="actions">
    <div data-do="apply-login" class="ui positive button">
      <i class="icon far fa-sign-in"></i>Войти
    </div>
    <div class="ui black deny button">
      <i class="icon far fa-ban"></i>Отмена
    </div>
  </div>
</div>
{% endif %}
